<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Ecommerce_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Create</display-name>
    <servlet-name>Create</servlet-name>
    <servlet-class>Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create</servlet-name>
    <url-pattern>/Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit1</display-name>
    <servlet-name>Edit1</servlet-name>
    <servlet-class>Edit1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit1</servlet-name>
    <url-pattern>/Edit1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOne</display-name>
    <servlet-name>EditOne</servlet-name>
    <servlet-class>EditOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOne</servlet-name>
    <url-pattern>/EditOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit2</display-name>
    <servlet-name>Edit2</servlet-name>
    <servlet-class>Edit2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit2</servlet-name>
    <url-pattern>/Edit2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order</display-name>
    <servlet-name>Order</servlet-name>
    <servlet-class>Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Email</display-name>
    <servlet-name>Email</servlet-name>
    <servlet-class>Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>
</web-app>